#Features {
    text-align: center;
}

.card-body {
    background-color: #eee;
    color: #000;
    margin-top: -10px;
	margin-body: 10000000px;
}

.copyright {
    color: #fff;
    background-color: #010101;
    padding: 1rem;
    text-align: center;
}

footer {
    background-color: #000;
    
}

.pricing .col-md-4 {
    transition: 1s margin-top ease-in-out;
}
.pricing .col-md-4:hover {
    margin-top: -10px!important;
}